In [13]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.0
[notice] To update, run: C:\Users\Dell\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [14]:
import pandas as pd

In [15]:
pd.__version__

'2.2.3'

# Series

# Create Series

In [16]:
a = pd.Series([45,40,42,43,41,23])
print(a)
print(type(a))

0    45
1    40
2    42
3    43
4    41
5    23
dtype: int64
<class 'pandas.core.series.Series'>

# Create Series with Index

In [17]:
a = pd.Series([1,2,3,4],index=[1,2,3,4])
print(a)

1    1
2    2
3    3
4    4
dtype: int64

In [18]:
a = pd.Series([1,2,3,4],index=['a','b','c','d'])
print(a)

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
a = pd.Series([1,2,3,4],index=[1,2,3,4],dtype="float")       #change datatype
print(a)

1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [20]:
a = pd.Series([0,1,2,3,4],dtype="bool")
print(a)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [21]:
a = pd.Series([1,2,3,4],index=[1,2,3,4],dtype="str")    #str & object both are same
print(a)

1    1
2    2
3    3
4    4
dtype: object

In [22]:
a = ["maths","physics","chemistry"]
b = [28,29,25]
c = pd.Series(b,index=a,dtype=float)
print(c)
len(c)

maths        28.0
physics      29.0
chemistry    25.0
dtype: float64

3

In [23]:
d = pd.Series(a,dtype=float)

ValueError: could not convert string to float: 'maths'

In [12]:
a = pd.Series([45,50,42],index=['a','b','c'],name="Pandas Series")
print(a)

a    45
b    50
c    42
Name: Pandas Series, dtype: int64

# Create Series using Dictionary

In [13]:
a = pd.Series({'hardik':55,'bhaumik':55,'rutwik':60})
print(a)

hardik     55
bhaumik    55
rutwik     60
dtype: int64

# Indexing and Slicing and Filtering same as array

In [15]:
x = []
for var in range (1,3001):
    x.append(var)

In [16]:
a = pd.Series(x)
print(a)

0          1
1          2
2          3
3          4
4          5
        ...
2995    2996
2996    2997
2997    2998
2998    2999
2999    3000
Length: 3000, dtype: int64

In [ ]:
len(a)

In [17]:
a = pd.Series([45,40,42,43,41,23])   # put index value to access
print(a)

0    45
1    40
2    42
3    43
4    41
5    23
dtype: int64

In [ ]:
a[3]    #slicing

In [ ]:
a[2:4]

In [18]:
a>40

0     True
1    False
2     True
3     True
4     True
5    False
dtype: bool

In [25]:
a[a>40]  # filtering   # for filtering it will look for value insted of index

TypeError: '>' not supported between instances of 'list' and 'int'

In [ ]:
#a[-1]

In [24]:
min(a)

'chemistry'

In [ ]:
max(a)

In [ ]:
a = pd.Series({'hardik':57,'bhaumik':65,'ravi':63})
print(a)
a['hardik']

In [20]:
x = pd.Series([5,6,2,4,3,9,7,1,9,4,8])
print(x)

0     5
1     6
2     2
3     4
4     3
5     9
6     7
7     1
8     9
9     4
10    8
dtype: int64

In [22]:
print([x>3])

[0      True
1      True
2     False
3      True
4     False
5      True
6      True
7     False
8      True
9      True
10     True
dtype: bool]

In [21]:
print(x[x>3])  # for filtering it will look for value insted of index

0     5
1     6
3     4
5     9
6     7
8     9
9     4
10    8
dtype: int64

In [23]:
print(x[x[x>3] & x[x<7]])

0    5
1    6
3    4
9    4
dtype: int64

C:\Users\Sandeep\AppData\Local\Temp\ipykernel_6476\2164317790.py:1: FutureWarning: Operation between non boolean Series with different indexes will no longer return a boolean result in a future version. Cast both Series to object type to maintain the prior behavior.
  print(x[x[x>3] & x[x<7]])

# Mathematical Operation

In [2]:
import pandas as pd
x = pd.Series([1,2,3,4,5])
y = pd.Series([1,2,3,4,5])
print(x+y)
print(x-y)
print(x*y)
print(x/y)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    0
1    0
2    0
3    0
4    0
dtype: int64
0     1
1     4
2     9
3    16
4    25
dtype: int64
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [3]:
x = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
y = pd.Series([1,2,3,4,5])
print(x,y)
print(x+y)

a    1
b    2
c    3
d    4
e    5
dtype: int64 0    1
1    2
2    3
3    4
4    5
dtype: int64
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

In [4]:
i = ['a','b','c','d','e']
x = pd.Series([1,2,3,4,5],index=i)
y = pd.Series([1,2,3,4,5],index=i)
print(x+y)

a     2
b     4
c     6
d     8
e    10
dtype: int64

# DataFrame

# Create a DataFrame

In [5]:
df = pd.DataFrame([])
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# Create DataFrame using Dict

In [24]:
df = pd.DataFrame({'maths':[28,26,24],'science':[2,26,28],'english':[24,20,18]})
print(df)

   maths  science  english
0     28        2       24
1     26       26       20
2     24       28       18

In [ ]:
df = pd.DataFrame({'maths':[28,26,24],'science':[2,26,28],'english':[24,20,18]},index=["hardik","bhaumik","payal"])
print(df)

# Create DataFrame using Dict in list

In [25]:
frame = pd.DataFrame([{'a':10,'b':20,'c':30},{'b':10,'a':20,'c':30}])
print(frame)

    a   b   c
0  10  20  30
1  20  10  30

# Creating DataFrame of Dict of Series

In [26]:
x = pd.Series([1,2,3,4,5])
y = pd.Series([1,2,3,4,5])
df = pd.DataFrame({"maths":x,"science":y})
print(df)

   maths  science
0      1        1
1      2        2
2      3        3
3      4        4
4      5        5

In [27]:
i = ["a","b","c","d","e"]
p = pd.Series([1,2,3,4,5],index=i)
q = pd.Series([1,2,3,4,5],index=i)
df = pd.DataFrame({"maths":p,"science":q})
print(df)

   maths  science
a      1        1
b      2        2
c      3        3
d      4        4
e      5        5

In [ ]:
# task : name,height,weight

In [28]:
# Method-1
i = [ "raj","Dvs","Tushar","Utsav"]
p = pd.Series([165,151,125,138],index=i)
q = pd.Series([65,51,58,45],index=i)
df = pd.DataFrame({"height":p,"weight":q})
print(df)

        height  weight
raj        165      65
Dvs        151      51
Tushar     125      58
Utsav      138      45

In [ ]:
# Method-2

In [ ]:
i = [ "raj","Dvs","Tushar","Utsav"]
df = pd.DataFrame({"height":[165,151,125,138],"weight":[65,51,58,45]},index=i)
print(df)